.routesContainer {
  background-image: url("./images/NYC-at-night.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
}

  body {
    display: block;
    margin: 0px;
    }